@charset "UTF-8";
/**
 * Default Setting
 */
/**
 * SuperGradient
 * SASS MULTI-COLOR GRADIENT MIXIN (LINEAR & RADIAL)
 * Options
 * $type: linear*, radial
 * $from: top*, left, top left, top right, bottom right, bottom left, center (radial)
 * $colors: hex, rgba
 * *default
 *
 * Include: bower install super-gradient
 *
 * Demo: http://super-gradient.ib.gs/
 */
/**
 * Extend
 */
body#tinymce {
  font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", Robot, "Droid Sans", sans-serif;
  line-height: 1.7;
  font-size: 15px;
  color: #71644C; }
  @media (min-width: 768px) {
    body#tinymce {
      line-height: 1.6;
      font-size: 16px; } }
  @media (min-width: 992px) {
    body#tinymce {
      font-size: 17px; } }
  body#tinymce h1, body#tinymce h2, body#tinymce h3, body#tinymce h4, body#tinymce h5, body#tinymce h6 {
    margin-top: 40px;
    margin-bottom: 16px;
    color: #4848ed; }
    body#tinymce h1:first-child, body#tinymce h2:first-child, body#tinymce h3:first-child, body#tinymce h4:first-child, body#tinymce h5:first-child, body#tinymce h6:first-child {
      margin-top: 0; }
  body#tinymce h1 {
    font-size: 28px; }
  body#tinymce h2 {
    font-size: 24px; }
  body#tinymce h3 {
    font-size: 20px; }
  body#tinymce h4, body#tinymce h5, body#tinymce h6 {
    font-size: 16px; }
  body#tinymce a {
    color: #3368e2;
    text-decoration: underline; }
    body#tinymce a:hover {
      color: #4848ed; }
  body#tinymce code {
    padding-left: 4px;
    padding-right: 4px;
    font-family: "Source Code Pro", "Osaka－等幅", Osaka-mono, "ＭＳ ゴシック", "MS Gothic", monospace;
    font-size: 90%;
    border-radius: 2px; }
  body#tinymce pre {
    margin-bottom: 1.5em;
    padding: 15px;
    line-height: 1.4;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    overflow-x: auto;
    -webkit-overflow-scrolling: auto;
    font-family: "Source Code Pro", "Osaka－等幅", Osaka-mono, "ＭＳ ゴシック", "MS Gothic", monospace;
    white-space: pre;
    background-color: #FAFAF8;
    border-radius: 0;
    box-sizing: border-box; }
    body#tinymce pre code {
      padding: 15px;
      -moz-tab-size: 2;
      -o-tab-size: 2;
      tab-size: 2; }
  body#tinymce p {
    margin-bottom: 2.5em; }
    @media (min-width: 768px) {
      body#tinymce p {
        margin-bottom: 1.6em; } }
    @media (min-width: 992px) {
      body#tinymce p {
        margin-bottom: 1.6em; } }
    body#tinymce p > code {
      background-color: #f0f0f0; }
  body#tinymce hr {
    display: block;
    height: 1px;
    margin: 60px auto;
    border: 0; }
  body#tinymce kbd:not([class*="kbd-find"]) {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: inline-block;
    min-width: 2em;
    margin: 5px;
    padding: 0 8px;
    line-height: 2;
    font-family: monospace;
    color: #767676;
    text-align: center;
    vertical-align: .2em;
    background-color: #f5f5f0;
    border-radius: 3px;
    box-shadow: 0 0 25px #e8e8e8 inset, 0 1px 0 #c3c3c3, 0 2px 0 #c9c9c9, 0 2px 3px #333; }
  body#tinymce mark {
    background-color: #fcf8e3; }
  body#tinymce cite {
    font-style: italic; }
  body#tinymce blockquote {
    margin: 30px 0;
    padding: 20px;
    padding-left: 24px;
    font-size: 88%;
    color: #666;
    background-color: #FAFAF8;
    border-left: 4px solid #4848ed; }
    body#tinymce blockquote *:first-child {
      margin-top: 0; }
    body#tinymce blockquote *:last-child {
      margin-bottom: 0; }
  body#tinymce address {
    padding: 1rem;
    line-height: 1.6;
    color: #4c4c4c;
    border: 1px solid #eee; }
  body#tinymce ul, body#tinymce ol {
    padding-left: 1.4em; }
    body#tinymce ul li + li, body#tinymce ol li + li {
      margin-top: 0.5em; }
  body#tinymce figure {
    margin: 0; }
  body#tinymce img {
    max-width: 100%;
    height: auto; }
  @media (max-width: 991px) {
    body#tinymce figure.alignright, body#tinymce figure.alignleft,
    body#tinymce img.alignright,
    body#tinymce img.alignleft {
      margin-top: 5px; } }
  body#tinymce dl dt {
    padding-bottom: 5px;
    font-weight: bold; }
  body#tinymce dl dd {
    margin-bottom: 1em;
    font-size: 84%; }
  body#tinymce table {
    margin: 30px 0; }
    body#tinymce table thead {
      background-color: #FAFAF8; }
    body#tinymce table tbody {
      background-color: #fff; }
  body#tinymce th, body#tinymce td {
    padding: 5px 10px;
    line-height: 1.4;
    border: 1px solid #e2e2e2; }
  body#tinymce iframe {
    max-width: 100%; }
  body#tinymce .iframe-wrap {
    position: relative;
    height: 0;
    padding-bottom: 80%; }
    body#tinymce .iframe-wrap iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%; }
    body#tinymce .iframe-wrap[src*="youtube.com"], body#tinymce .iframe-wrap[src*="vimeo.com"] {
      padding-bottom: 56.2%; }
    body#tinymce .iframe-wrap[src*="google.com/maps"] {
      padding-bottom: 92%; }
      @media (min-width: 576px) {
        body#tinymce .iframe-wrap[src*="google.com/maps"] {
          padding-bottom: 62%; } }
      @media (min-width: 768px) {
        body#tinymce .iframe-wrap[src*="google.com/maps"] {
          padding-bottom: 68%; } }
  body#tinymce .blog-eyecatch {
    margin-bottom: 3em; }
    body#tinymce .blog-eyecatch img {
      width: 100%;
      height: auto; }
  body#tinymce .wp-caption {
    max-width: 100%; }
    body#tinymce .wp-caption-text {
      padding: 2px;
      line-height: 1.2;
      font-size: 80%;
      color: #888; }
  body#tinymce .alignleft {
    float: left;
    margin-right: 15px;
    margin-bottom: 15px; }
  body#tinymce .alignright {
    float: right;
    margin-left: 15px;
    margin-bottom: 15px; }
  body#tinymce .aligncenter {
    float: none;
    margin-left: auto;
    margin-right: auto; }
  body#tinymce img.aligncenter {
    display: block; }
  body#tinymce .mce-wp-nextpage,
  body#tinymce .mce-wp-more {
    height: 20px; }
  body#tinymce #toc_container {
    margin-top: 40px;
    padding: 20px;
    background-color: #fafafa;
    border-color: #e3e3e3; }
    @media (min-width: 768px) {
      body#tinymce #toc_container {
        padding: 20px 30px; } }
    body#tinymce #toc_container .toc_title {
      color: #4848ed;
      text-align: left; }
    body#tinymce #toc_container .toc_list {
      font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", Robot, "Droid Sans", sans-serif;
      font-size: 14px; }
      body#tinymce #toc_container .toc_list li + li {
        margin-top: 5px; }
      body#tinymce #toc_container .toc_list > li > ul {
        margin-top: 5px; }
      body#tinymce #toc_container .toc_list a {
        text-decoration: none; }
      body#tinymce #toc_container .toc_list .toc_number {
        margin-right: 8px;
        line-height: 1;
        font-style: italic;
        font-weight: 300;
        color: rgba(72, 72, 237, 0.5); }
  body#tinymce .hljs {
    margin: -15px;
    font-size: 14px;
    line-height: 1.6;
    border-radius: 0;
    border: 0; }
    @media (max-width: 767px) {
      body#tinymce .hljs {
        margin-left: -15px;
        margin-right: -15px; } }

body#tinymce {
  margin: 8px 15px;
  box-sizing: border-box; }
/*# sourceMappingURL=maps/editor.css.map */
